{% extends 'backoffice/backoffice.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Edit Product</h1>

        {{ form_start(form) }}
        <div class="form-group mt-3">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="form-group mt-3">
            {{ form_label(form.shortDesc) }}
            {{ form_widget(form.shortDesc, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.shortDesc) }}
        </div>

        <div class="form-group mt-3">
            {{ form_label(form.longDesc) }}
            {{ form_widget(form.longDesc, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.longDesc) }}
        </div>

        <div class="form-group mt-3">
            {{ form_label(form.price) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.price) }}
        </div>

        <div class="form-group mt-3">
            {{ form_label(form.img) }}
            {% if form.vars.value.img is not empty %}
                <div class="mb-3">
                    <img src="{{ asset('img/' ~ form.vars.value.img) }}" alt="Current Image" style="max-width: 300px; max-height: 300px; object-fit: contain;">
                </div>
            {% endif %}
            {{ form_widget(form.img, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.img) }}
        </div>

        <button type="submit" class="btn btn-primary mt-4">Save changes</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
