{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Symfony App{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {# Dodaj ovde druge stilove, meta tagove, itd. #}
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{{ path('home_index') }}">Home</a></li>
            <li><a href="{{ path('app_login') }}">Login</a></li>
            <li><a href="{{ path('app_register') }}">Register</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block body %}
        {# Ovaj blok će biti zamenjen sadržajem specifične stranice #}
    {% endblock %}
</main>

<footer>
    <p>&copy; 2024 My Symfony App</p>
</footer>

{# Dodaj JavaScript datoteke ako je potrebno #}
<script src="{{ asset('js/scripts.js') }}"></script>
</body>
</html>
